<section class="footerOuterContainer">
  <footer class="section">
    <main class="footermain">
      <div class="soialsContainer">
        <a href="#"><img
            src="https://radical-production.imgix.net/website/Instagram.svg"
          /></a>
        <a href="#"><img
            src="https://radical-production.imgix.net/website/Twitter.svg"
          /></a>
        <a href="#"><img
            src="https://radical-production.imgix.net/website/Facebook.svg"
          /></a>
      </div>
      <p>You have received this email as a registered user of FinEzzy® FinEzzy,
        Inc.,</p>
      <p>2415 Michigan Ave, Santa Monica, CA 90404 United States. Delaware</p>
      <p>Corporation State File #6783068 Copyright 2021</p>
      <p>All rights reserved.</p>
      <div class="footerNavContainer">
        <a href="#">Privacy</a>
        <a href="#">Account</a>
        <a href="#">Unsubscribe</a>
      </div>
    </main>

  </footer>
</section>