<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,700&display=swap" rel="stylesheet">
    <title>Welcome to My App!</title>
    <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .section{
        max-width: 600px;
        margin: 0 auto;
        padding: 0 40px;
        font-family: 'Open Sans', sans-serif;
      }
        .header{
            width: 100%;
            margin: 34px 0;
        }
        .headerImg{
          display: block;
          width: 162px;
          height: auto;
          margin: 0 auto;
        }
        .main{
          font-size: 14px;
          color: #111111;
          line-height: 24px;
          font-weight: 400;
          padding: 24px 0;
          width: 100%;
        }
        .paragraph1{
          margin-bottom: 12px;
        }
        .paragraph2{
          margin-bottom: 24px;
        }
        .emailImgContainer{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 16px 0;
        }
        .verifyTextContainer{
          margin: 0 42px;
          margin-bottom: 16px;
        }
        .verifyText{
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          color: #003AC9;
        }
        
        .btnContainer{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .btn{
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          color: #FFFFFF;
          padding: 12px 24px;
          background: #FF5500;
          border: none;
          border-radius: 25px;
        }
        .paragraph3{
          font-size: 14px;
          color: #111111;
          line-height: 24px;
          font-weight: 400;
          text-align: center;
          width: 100%;
        }
        .footerOuterContainer{
          background: #F2F2F2;
          padding-top: 40px;
          margin-top: 20px;
        }
      
        .footermain{
          text-align: center;
          color: #939393;
          font-size: 14px;
          color: #111111;
          line-height: 24px;
          font-weight: 400;
          width: 100%;
          padding-bottom: 20px;
        }
        .footerNavContainer{
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;
        }
        .soialsContainer{
          margin-bottom: 20px;
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;
        }
    </style>
  </head>
  <body>
    <section class="section">
     {{> Header}}
     <main class="main">
      <p class="paragraph1"> Dear {{name}},</p>
      <p class="paragraph2">Thank you for creating an account at FinEzzy. We look forward to helping you achieve your financial goals.</p>
      <p>We noticed that you have yet to verify your email address. Verifying your email address is an important step in ensuring the security of your FinEzzy account and allows us to confirm that the email address you provided is accurate and belongs to you.</p>

      <div class="emailImgContainer">
          <svg width="180" height="180" viewBox="0 0 180 180" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M71.8942 174.919C65.1116 173.049 9.58612 157.797 2.71729 114.487C-1.39251 88.5882 12.6613 57.135 32.0032 51.1781C43.6429 47.581 50.8566 55.1494 62.0364 49.2789C75.1992 42.3436 73.015 27.7249 83.3039 18.6602C97.76 5.88318 126.874 10.4299 143.456 20.7321C183.951 45.912 192.832 132.761 150.699 166.085C122.103 188.703 81.522 177.567 71.8942 174.919Z" fill="#CFDFFF"/>
          <path d="M25.4785 84.8471L65.5131 53.5666L90.2007 31.3795L154.923 84.8471L133.54 102.344" fill="white"/>
          <path d="M154.923 85.2788V159.466C154.923 162.257 152.681 164.502 149.893 164.502H30.508C27.7202 164.502 25.4785 162.257 25.4785 159.466V84.8472" fill="white"/>
          <path d="M149.894 164.934H30.5084C27.4907 164.934 25.0479 162.487 25.0479 159.466V84.8472C25.0479 84.617 25.249 84.4155 25.4789 84.4155C25.7089 84.4155 25.91 84.617 25.91 84.8472V159.466C25.91 161.998 27.9793 164.07 30.5084 164.07H149.894C152.423 164.07 154.492 161.998 154.492 159.466V85.2788C154.492 85.0486 154.693 84.8472 154.923 84.8472C155.153 84.8472 155.354 85.0486 155.354 85.2788V159.466C155.354 162.487 152.883 164.934 149.894 164.934Z" fill="#212121"/>
          <path d="M118.107 54.8327C118.021 54.8327 117.906 54.8039 117.849 54.7464L113.566 51.2644C113.394 51.1205 113.365 50.8327 113.509 50.6601C113.653 50.4874 113.94 50.4586 114.113 50.6025L118.366 54.0845C118.538 54.2284 118.567 54.5162 118.424 54.6888C118.337 54.7752 118.222 54.8327 118.107 54.8327Z" fill="#212121"/>
          <path d="M71.0316 48.9623C70.9166 48.9623 70.8017 48.9047 70.7155 48.8184C70.543 48.6457 70.5718 48.358 70.7442 48.2141L89.9137 31.063C90.0861 30.9191 90.3161 30.9191 90.4885 31.063L110.233 47.3795C110.405 47.5234 110.434 47.8112 110.29 47.9839C110.147 48.1565 109.859 48.1853 109.687 48.0414L90.2298 31.9551L71.319 48.8472C71.2328 48.9335 71.1178 48.9623 71.0316 48.9623Z" fill="#212121"/>
          <path d="M29.962 157.25C29.8758 157.25 29.7896 157.221 29.7034 157.164C29.5022 157.02 29.4735 156.761 29.6172 156.559L62.783 113.48C62.9267 113.279 63.1853 113.25 63.3865 113.394C63.5877 113.538 63.6164 113.797 63.4727 113.998L30.2782 157.077C30.192 157.192 30.077 157.25 29.962 157.25Z" fill="#212121"/>
          <path d="M136.76 143.552C136.645 143.552 136.53 143.495 136.444 143.408L113.538 117.164C113.394 116.991 113.394 116.703 113.567 116.559C113.739 116.416 114.027 116.416 114.17 116.588L137.076 142.833C137.22 143.005 137.22 143.293 137.047 143.437C136.961 143.523 136.846 143.552 136.76 143.552Z" fill="#212121"/>
          <path d="M132.448 102.056V63.4947C132.448 59.2645 135.868 55.8113 140.122 55.8113H62.0931C54.2759 55.8113 47.9531 62.1422 47.9531 69.9696V102.372L90.2007 134.113L132.448 102.056Z" fill="#FFC026"/>
          <path d="M149.951 81.1638H132.448V64.5595C132.448 59.7249 136.357 55.8113 141.185 55.8113C146.013 55.8113 149.922 59.7249 149.922 64.5595L149.951 81.1638Z" fill="#212121"/>
          <path d="M149.951 81.5955H132.449C132.219 81.5955 132.018 81.394 132.018 81.1638V64.5595C132.018 59.4947 136.127 55.3796 141.186 55.3796C146.244 55.3796 150.354 59.4947 150.354 64.5595V81.0199C150.382 81.0775 150.382 81.135 150.382 81.1638C150.382 81.394 150.181 81.5955 149.951 81.5955ZM132.88 80.7322H149.491V64.5595C149.491 59.984 145.755 56.2429 141.186 56.2429C136.616 56.2429 132.88 59.984 132.88 64.5595V80.7322Z" fill="#212121"/>
          <path d="M94.0234 20.6458C93.9947 20.6458 93.966 20.6458 93.9372 20.6458C93.7073 20.5882 93.5636 20.358 93.6211 20.1278L97.9895 0.329238C98.047 0.0990219 98.2769 -0.044863 98.5068 0.012691C98.7368 0.0702449 98.8805 0.300461 98.823 0.530677L94.4545 20.3292C94.3971 20.5019 94.1959 20.6458 94.0234 20.6458Z" fill="#212121"/>
          <path d="M100.662 25.0487C100.548 25.0487 100.404 24.9911 100.318 24.9048C100.174 24.7322 100.203 24.4444 100.375 24.3005L111.871 14.7465C112.043 14.6027 112.331 14.6314 112.475 14.8041C112.618 14.9768 112.59 15.2645 112.417 15.4084L100.921 24.9624C100.835 25.0199 100.749 25.0487 100.662 25.0487Z" fill="#212121"/>
          <path d="M105.261 31.063C105.06 31.063 104.887 30.9191 104.83 30.7177C104.801 30.4875 104.945 30.2573 105.175 30.2285L113.595 28.7609C113.825 28.7321 114.055 28.876 114.084 29.1062C114.113 29.3364 113.969 29.5666 113.739 29.5954L105.318 31.063C105.29 31.063 105.261 31.063 105.261 31.063Z" fill="#212121"/>
          <path d="M90.2006 134.516C90.1144 134.516 90.0281 134.488 89.9419 134.43L25.191 85.1925C25.076 85.1062 25.0186 84.9911 25.0186 84.8472C25.0186 84.7033 25.076 84.5882 25.1623 84.5019L42.3774 70.2573C42.5499 70.1134 42.8373 70.1422 42.981 70.3148C43.1247 70.4875 43.0959 70.7753 42.9235 70.9192L26.1394 84.8184L90.1718 133.538L154.204 84.8184L149.865 81.2213C149.692 81.0774 149.663 80.7897 149.807 80.617C149.951 80.4443 150.238 80.4156 150.411 80.5594L155.181 84.5019C155.296 84.5882 155.354 84.7033 155.325 84.8472C155.325 84.9911 155.268 85.1062 155.153 85.1925L90.4592 134.43C90.373 134.488 90.2868 134.516 90.2006 134.516Z" fill="#212121"/>
          <path d="M66.2324 91.5522L66.3474 91.6961C66.3761 91.6961 66.4336 91.6961 66.5198 91.7249C66.4336 91.6386 66.3474 91.581 66.2324 91.5522Z" fill="#212121"/>
          <path d="M66.5193 92.1566C66.4619 92.1566 66.4331 92.1566 66.3757 92.1278C66.3469 92.1278 66.3469 92.1278 66.3469 92.1278C66.2032 92.1278 66.0883 92.0702 66.002 91.9551L65.8871 91.8113C65.7721 91.6674 65.7721 91.4659 65.8583 91.322C65.9446 91.1782 66.1457 91.0918 66.3182 91.1494C66.4906 91.2069 66.663 91.2933 66.8067 91.4371C66.9504 91.581 66.9792 91.8113 66.8642 91.9551C66.778 92.0702 66.663 92.1566 66.5193 92.1566Z" fill="#212121"/>
          <path d="M77.7275 124.416V124.588L90.2006 134.085L101.122 125.595L99.6561 122.286C97.4718 124.387 95.4026 126.718 92.7585 127.926C87.7578 130.2 82.3259 127.754 77.7275 124.416Z" fill="#212121"/>
          <path d="M90.2011 134.516C90.1149 134.516 90.0286 134.487 89.9424 134.43L77.4693 124.934C77.3544 124.847 77.2969 124.732 77.2969 124.588V124.416C77.2969 124.243 77.3831 124.099 77.5268 124.041C77.6705 123.955 77.8429 123.984 77.9866 124.07C83.7346 128.243 88.5342 129.394 92.5865 127.523C94.7132 126.545 96.5239 124.761 98.2482 123.034C98.6219 122.66 98.9955 122.315 99.3404 121.941C99.4553 121.854 99.599 121.797 99.714 121.826C99.8577 121.854 99.9726 121.941 100.03 122.085L101.496 125.394C101.582 125.567 101.525 125.797 101.352 125.912L90.431 134.401C90.3735 134.487 90.2873 134.516 90.2011 134.516ZM82.7287 127.869L90.2011 133.567L100.605 125.48L99.5128 123.034C99.2829 123.236 99.0817 123.466 98.8518 123.667C97.0699 125.451 95.2018 127.264 92.9314 128.3C89.9424 129.682 86.5224 129.509 82.7287 127.869Z" fill="#212121"/>
          <path d="M28.295 138.631L25.4785 153.595V143.84L28.295 138.631Z" fill="#212121"/>
          <path d="M25.4789 154.027H25.4502C25.2203 153.998 25.0479 153.826 25.0479 153.595V143.84C25.0479 143.783 25.0766 143.696 25.1053 143.639L27.9218 138.43C28.0368 138.229 28.238 138.171 28.4392 138.229C28.6403 138.286 28.7553 138.516 28.7266 138.718L25.91 153.682C25.8526 153.883 25.6801 154.027 25.4789 154.027ZM25.91 143.955V148.991L27.347 141.279L25.91 143.955Z" fill="#212121"/>
          <path d="M150.038 150.804L151.561 164.214C153.631 163.092 154.924 160.933 154.866 158.574L154.751 152.156" fill="#212121"/>
          <path d="M151.561 164.646C151.503 164.646 151.417 164.617 151.36 164.588C151.245 164.531 151.159 164.387 151.13 164.243L149.607 150.833C149.578 150.603 149.75 150.372 149.98 150.344C150.21 150.315 150.44 150.487 150.469 150.718L151.906 163.466C153.515 162.344 154.464 160.531 154.435 158.545L154.32 152.128C154.32 151.898 154.492 151.696 154.751 151.696C154.981 151.696 155.182 151.898 155.182 152.128L155.297 158.545C155.355 161.049 154.004 163.351 151.762 164.559C151.676 164.617 151.618 164.646 151.561 164.646Z" fill="#212121"/>
          <path d="M109.259 116.851L61.235 109.081C53.1016 107.757 47.5836 100.103 48.9056 91.9589C50.2276 83.815 57.8724 78.2899 66.0058 79.6136L114.03 87.3834C122.164 88.7071 127.682 96.3618 126.36 104.506C125.038 112.65 117.393 118.175 109.259 116.851Z" fill="#10C900"/>
          <path d="M86.2388 105.196C86.1238 105.168 86.0089 105.168 85.8939 105.139C84.0258 104.736 82.4451 103.556 81.4967 101.887L74.6854 89.8295C72.8748 86.6065 73.9956 82.5489 77.2145 80.736C80.4333 78.923 84.4857 80.0453 86.2963 83.2683L89.4289 88.8223L119.347 67.0957C122.336 64.9374 126.503 65.5993 128.659 68.5921C130.814 71.5849 130.153 75.7576 127.164 77.9158L91.1821 104.017C89.8026 105.053 87.9919 105.455 86.2388 105.196Z" fill="#212121"/>
          <path d="M87.2731 105.714C86.8994 105.714 86.5546 105.686 86.1809 105.628H86.1522C86.1235 105.628 86.066 105.628 86.0372 105.599C85.951 105.599 85.8935 105.57 85.8073 105.57C83.853 105.139 82.1574 103.901 81.1515 102.117L74.3401 90.0597C73.4204 88.3906 73.1618 86.4913 73.6791 84.6496C74.1964 82.8367 75.3748 81.3115 77.0417 80.3618C78.7086 79.441 80.6054 79.182 82.4448 79.7C84.2554 80.218 85.7786 81.3978 86.727 83.0669L89.6297 88.1892L119.146 66.7503C120.698 65.628 122.566 65.1964 124.434 65.4841C126.302 65.7719 127.94 66.8079 129.061 68.3331C131.36 71.5273 130.641 75.959 127.48 78.2611L91.4978 104.362C90.262 105.225 88.7963 105.714 87.2731 105.714ZM86.2959 104.765C87.9628 104.995 89.6585 104.592 90.8943 103.671L126.877 77.5705C128.227 76.5921 129.118 75.1532 129.377 73.5129C129.636 71.8726 129.233 70.2036 128.285 68.8511C127.308 67.4985 125.871 66.6064 124.233 66.3475C122.594 66.0885 120.927 66.4913 119.577 67.441L89.6585 89.1676C89.5722 89.2539 89.4286 89.2539 89.3136 89.2539C89.1986 89.2252 89.0837 89.1388 89.0262 89.0525L85.8935 83.4698C85.0888 82.0021 83.7381 80.9662 82.1286 80.5057C80.5192 80.0741 78.8523 80.2755 77.3865 81.0813C74.3976 82.7791 73.3342 86.5777 75.0299 89.5993L81.8412 101.657C82.7322 103.211 84.2266 104.333 85.951 104.707C86.0085 104.707 86.0372 104.736 86.0947 104.736C86.1809 104.736 86.2384 104.765 86.2959 104.765Z" fill="#212121"/>
          <path d="M82.5025 102.779C82.3875 102.75 82.2726 102.75 82.1576 102.722C80.2895 102.319 78.7088 101.139 77.7604 99.4698L70.949 87.4123C69.1384 84.1892 70.2593 80.1317 73.4782 78.3187C76.697 76.5058 80.7493 77.6281 82.56 80.8511L85.6926 86.4051L115.611 64.6784C118.6 62.5202 122.767 63.182 124.923 66.1748C127.078 69.1676 126.417 73.3403 123.428 75.4986L87.4457 101.599C86.0662 102.635 84.2556 103.067 82.5025 102.779Z" fill="white"/>
          <path d="M83.5659 103.297C83.1923 103.297 82.7899 103.268 82.4163 103.211H82.3875C82.3588 103.211 82.3013 103.211 82.2726 103.182C82.1864 103.182 82.1289 103.153 82.0427 103.153C80.0883 102.722 78.3927 101.484 77.3868 99.7L70.5755 87.6424C69.6558 85.9734 69.3971 84.0741 69.9145 82.2324C70.4318 80.4194 71.6101 78.8942 73.277 77.9446C74.9439 77.0237 76.8408 76.7647 78.6801 77.2827C80.4907 77.8007 82.0139 78.9806 82.9623 80.6496L85.8651 85.7719L115.381 64.3331C118.571 62.0309 122.997 62.7504 125.296 65.9158C127.595 69.1101 126.877 73.5417 123.715 75.8439L87.7332 101.945C86.5261 102.837 85.0604 103.297 83.5659 103.297ZM82.56 102.347C84.1982 102.606 85.8651 102.204 87.1584 101.254L123.141 75.1532C125.928 73.1389 126.561 69.2252 124.549 66.4338C122.537 63.6424 118.629 63.0094 115.841 65.0237L85.9225 86.7504C85.8363 86.8367 85.6926 86.8367 85.5777 86.8367C85.4627 86.8079 85.3478 86.7216 85.2903 86.6353L82.1576 81.0525C81.3529 79.5849 80.0021 78.5489 78.3927 78.0885C76.7833 77.6568 75.1164 77.8583 73.6506 78.664C72.1849 79.4698 71.1503 80.8223 70.6904 82.4338C70.2593 84.0453 70.4605 85.7144 71.2652 87.182L78.0766 99.2396C78.9675 100.794 80.462 101.916 82.1864 102.29C82.2438 102.29 82.2726 102.319 82.3301 102.319C82.445 102.319 82.5025 102.347 82.56 102.347Z" fill="#212121"/>
          </svg>
      </div>
      <div class="verifyTextContainer">
        <p class="verifyText">To verify your email address, simply click on the verification link below.</p>
      </div>
      
      <div class="btnContainer">
        <button class="btn">Click here to verify</button>
      </div>
     </main>
      <p class="paragraph3">Please do not hesitate to reach out to us at <a href="#">support@finezzy.com</a> if you have any questions or if there is anything we can assist you with.</p>
    </section>
    {{> Footer}}
  </body>
</html>